<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> <!--con server ONLINE questo href non serve-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>Gulliver - Plan your itinerary</title>
</head>
<body>

    <nav class="dash">
        <div class="logo-icon">
            <img src="/static/images/planet-icon.png"  alt="">
        </div>
        <div class="login-icon">
            <img src="/static/images/user-icon.png" alt="">
        </div>
    </nav>

    <div class="main">
        <div class="card left">
            <h1 style="font-size: 5rem;">GULLIVER</h1>
            <h2><i>Pianifica la tua prossima vacanza</i></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod <br>
                tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim <br>
                veniam, quis nostrum exercitationem ullam corporis <br>
                suscipit laboriosam,
                nisi ut ali</p>
                <form action="/destinazione" > 
                    <label for="fname">Destinazione</label>
                    <input type="text" name="destinazione" placeholder="Inserisci Destinazione">
                    <input type="submit" id="Nitin" value="Nuovo Itinerario">
                </form>
        </div>

        
        <div class="card right">
            <h2>Lasciati ispirare. . .</h2>

            <div class="idee">
                
                <a href="{{url_for('getIdee', id_categoria='1')}}"><img src="/static/images/mountain-img.jpg" class="img-idee"alt=""></a>
                <div class="card-desc">
                    <a href="{{url_for('getIdee', id_categoria='1')}}"><h3 class="card title" name="categorie" value="categorie">Montagna</h3></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod <br>
                        tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim <br>
                        veniam, quis nostrum exercitationem ullam
                    </p>
                </div>
            </div>

            <div class="idee">
                <a href="{{url_for('getIdee', id_categoria='2')}}"><img src="/static/images/sea-img.jpeg" class="img-idee" alt=""></a>
                <div class="card-desc">
                    <a href="{{url_for('getIdee', id_categoria='2')}}"><h3 class="card title" name="categorie" value="categorie">Mare</h3></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod <br>
                        tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim <br>
                        veniam, quis nostrum exercitationem ullam
                    </p>
                </div>
            </div>

            <div class="idee">
                <a href="{{url_for('getIdee', id_categoria='3')}}"><img src="/static/images/city-img.jpg" class="img-idee"alt=""></a>
                <div class="card-desc">
                    <a href="{{url_for('getIdee', id_categoria='3')}}"><h3 class="card title" name="categorie" value="categorie">Città</h3></a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod <br>
                        tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim <br>
                        veniam, quis nostrum exercitationem ullam
                    </p>
                </div>
            </div>
        </div>  
    </div>
    
    
</body>
</html>