<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulliver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ideeSection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/popularSection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerSection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaResponsive.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    
   <!--home-->
    <section class="home">
        <div class="home-box">
            <nav>
                <div class="logo bars">
                    <div class="bar">
                        <i class="fa fa-bars"></i>
                    </div>
                    <h3>Gulliver</h3>
                </div>
                <div class="menu">
                    <div class="close">
                        <i class="fa fa-close"></i>
                    </div>    
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="#travel">Esplora</a></li>
                        <li><a href="/profilo">Profilo</a></li>
                    </ul> 
                </div>
                <div class="signup-login">
                    <a href="/registrazione">Registrati</a>
                    <a href="/login">Accedi</a>
                </div>
            </nav>

            <div class="content">
                <h1>Scopri il mondo, <br>
                    un itinerario alla volta</h1>
                <p>Vogliamo ispirare le persone a scoprire nuove destinazioni, creare esperienze uniche e connettersi 
                    con culture diverse attraverso itinerari curati e su misura per le loro esigenze e passioni.</p>
                <form action="/destinazione" class="search-form">
                    <div class="search">
                        <i class="fa fa-search"></i>
                        <input type="text" name="destinazione" placeholder="La tua Destinazione..">
                        <button type="submit" value="Nuovo Itinerario">Cerca</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    

    <!--idee-->
    <section class="travel" id="travel">
        <h2>Esplora...</h2>
        <div class="container">
            <div class="box">
                <a href="{{ url_for('getCategorie', categoria='Montagna')}}"><img src="/static/images/montagna.jpg" alt=""></a>
                <div class="content">
                    <h4>Montagna</h4>
                    <p>Esplora panorami mozzafiato, sentieri escursionistici e attività come lo sci, immerso nella bellezza naturale delle montagne.</p>
                </div>
            </div>
            <div class="box">
                <a href="{{ url_for('getCategorie', categoria='Mare')}}"><img src="/static/images/mare.jpg" alt=""></a>
                <div class="content">
                    <h4>Mare</h4>
                    <p>Goditi la tranquillità delle spiagge di sabbia dorata e le acque cristalline, ideali per il relax e gli sport acquatici.</p>
                </div>
            </div>
            <div class="box">
                <a href="{{ url_for('getCategorie', categoria='Citta')}}"><img src="/static/images/citta.jpg" alt=""></a>
                <div class="content">
                    <h4>Città</h4>
                    <p>Scopri l'energia vibrante delle città con musei, monumenti storici e una vita notturna vivace, offrendo esperienze culturali.</p>
                </div>
            </div>
        </div>
    </section>
   

    <!--destinazioni-->
    <section class="destinations">
        <h4 class="label">in tendenza</h4>
        <div class="container">
            <div class="container-box">
                <h2 class="heading">esplora le destinazioni in voga oggi</h2>
                <div class="content">
                    <p>Le destinazioni di viaggio più ambite al momento includono Tokyo, Shanghai e Roma, ognuna con il suo fascino unico. 
                        Tokyo offre modernità, vita notturna vivace e cucina innovativa. Shanghai vanta una skyline spettacolare e una 
                        fusione di tradizione e modernità, mentre Roma cattura l'immaginazione con monumenti storici come il Colosseo 
                        e la Città del Vaticano. Queste destinazioni offrono un'esperienza indimenticabile, combinando cultura millenaria, 
                        scoperte urbane eccitanti e una gastronomia ricca.</p>
                        <a href="#">Scegli la tua destinazione<i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="gallery">
                <div class="box">
                    <img src="/static/images/japan.jpg" alt="">
                    <div class="text">
                        <h2>Tokyo</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="/static/images/london.jpg" alt="">
                    <div class="text">
                        <h2>Londra</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="/static/images/shanghai2.jpg" alt="">
                    <div class="text">
                        <h2>Shanghai</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="/static/images/santorini.jpg" alt="">
                    <div class="text">
                        <h2>Santorini</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="/static/images/roma.jpg" alt="">
                    <div class="text">
                        <h2>Roma</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="detail">
                    <h3>Gulliver</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo porro perspiciatis dolorem sint, 
                        necessitatibus molestias. Harum totam magnam sint et.</p>
                    <h5>Contattaci</h5>
                    <a href="#">gulliver@mail.com</a>
                </div>
            </div>
        </div>
    </footer>




    <!--GSAP CDN: js animation framework -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
</body>    
</html>