<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scelta Attività</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-decisi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ideeRES.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerSection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaResponsive.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <nav>
            <div class="logo bars">
                <div class="bar">
                    <i class="fa fa-bars"></i>
                </div>
                <h3>Gulliver</h3>
            </div>
            <div class="menu">
                <div class="close">
                    <i class="fa fa-close"></i>
                </div>    
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#travel">Esplora</a></li>
                    <li><a href="/profilo">Profilo</a></li>
                </ul> 
            </div>
            <div class="signup-login">
                <a href="/registrazione">Registrati</a>
                <a href="/login">Accedi</a>
            </div>
        </nav>

        <div class="main-title">
            <h1>Itinerari per {{categoria}}</h1>
        </div>
       
        <div class="main-card">
            {% for elem in lista %}
            <div class="elemlist">
                <div class="card-body">
                    <!-- <img src="https://cdn-icons-png.flaticon.com/512/2038/2038466.png"> -->
                    <img src="https://picsum.photos/200"> <!--random image-->
                    <h3 class="card-title">{{elem.nome_itinerario}}</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod
                        tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim
                        veniam, quis nostrum exercitationem ullam</p>
                    <a href="#" class="card-link">Dettagli</a>
                </div>
              </div>
            {% endfor %}
        </div>


    <!-- footer -->
    <footer>
        <div class="footer">
            <div class="container">
                <div class="detail">
                    <h3>Gulliver</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo porro perspiciatis dolorem sint, 
                        necessitatibus molestias. Harum totam magnam sint et.</p>
                    <h5>get in touch</h5>
                    <a href="#">gulliver@mail.com</a>
                </div>
            </div>
        </div>
    </footer>




    <!--GSAP CDN: js animation framework -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
</body>    
</html>