<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gulliver</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-decisiNOBOX.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decisiRES.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerSection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaResponsive.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Scegli Tipologia</title>
</head>
<body>

        <nav>
            <div class="logo bars">
                <div class="bar">
                    <i class="fa fa-bars"></i>
                </div>
                <h3>Gulliver</h3>
            </div>
            <div class="menu">
                <div class="close">
                    <i class="fa fa-close"></i>
                </div>    
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#travel">Esplora</a></li>
                    <li><a href="/profilo">Profilo</a></li>
                </ul> 
            </div>
            <div class="signup-login">
                <a href="#">Registrati</a>
                <a href="/login">Accedi</a>
            </div>
        </nav>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
</body>    
</html>