<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scelta Attività</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar-decisi.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decisiRES.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footerSection.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mediaResponsive.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
        <nav>
            <div class="logo bars">
                <div class="bar">
                    <i class="fa fa-bars"></i>
                </div>
                <a href="/"><h3>Gulliver</h3></a>
            </div>
            <div class="menu">
                <div class="close">
                    <i class="fa fa-close"></i>
                </div>    
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/#travel">Esplora</a></li>
                    <li><a href="/profilo">Profilo</a></li>
                </ul> 
            </div>
            <div class="signup-login">
                <a href="#">Registrati</a>
                <a href="/login">Accedi</a>
            </div>
        </nav>

        <div class="main">
            <div class="left">
                {% for dati in luogo %}
                <div id="map" dati-lat="{{dati.latitudine_luogo}}" dati-lng="{{dati.longitudine_luogo}}"></div>
                {% endfor %} 
            </div>
            <div class="right">
                <div class="right-content">
                    <h1 style="font-size: 2rem;">Attività da fare a <span>{{destinazione}}</span></h1>
                    <p>Seleziona le attività desiderate</p>
    
                        <!-- {% for elem in lista %}
                        <p>{{elem.nome_attivita}} , {{elem.difficolta}}  ,  {{elem.descrizione_attivita}} </p>
                        <p>{{elem}}</p>
                        {% endfor %} -->
    
                    
    
    
    
                    <div class="wrapper">
                        <form action="/Sommario" method="POST">
                            <input type="hidden" name="destinazione" value="{{destinazione}}"/>
                            {% for elem in lista.keys() %}
                            <div class="collapsible">
                                <input type="checkbox" class="tohide"id="collapsible-head{{ loop.index }}">
                                <label for="collapsible-head{{ loop.index }}">{{elem}}</label>
                                <div class="collapsible-text">
                                    {% for act in lista[elem] %}
                                    <h2 id="collapsible-h2{{ loop.index }}">{{act.nome_attivita}}</h2>
                                    <h3 id="collapsible-h3{{ loop.index }}">difficoltà: {{act.difficolta}}</h3>
                                    <p id="collapsible-p{{ loop.index }}">{{act.descrizione_attivita}}</p>
                                    <input type="checkbox" id="collapsible-checkbox{{ loop.index }}" name="opzioneDinamica" value="{{act.nome_attivita}}" class="check1">
                                    {%  endfor %} 
                                </div>
                            </div>
                            {% endfor %}
                            <button>Avanti</button>
                        </form>
                        
                    </div>
    
                    
                    
                      
                </div>
            </div>
        </div>



    <!--GSAP CDN: js animation framework -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" 
        integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" 
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>

    <!--MAPPA-->
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>
    <script src="/static/js/map.js"></script>
</body>    
</html>