<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Web/static/css/decisi.css"> <!--con server ONLINE questo href non serve-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decisi.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>Scegli Tipologia</title>
</head>
<body>
    
    <nav class="dash">
        <div class="logo-icon">
            <img src="/Web/static/images/planet-icon.png"  alt="">
        </div>
        <div class="login-icon">
            <img src="/Web/static/images/user-icon.png" alt="">
        </div>
    </nav>

    <div class="main">
        <div class="left">
            MAPPA
        </div>
        <div class="right">
            <div class="right-content">
                <h1>Tipologia di attività a <span>{{destinazione}}</span></h1>
                <p>Facci sapere cosa vorresti fare nel tuo viaggio e noi di  aiuteremo
                    a trovare le migliori attivita!</p>

                <div class="checkbox-container">
                    <form action="/Attivita" method="POST">
                        <input type="hidden" name="destinazione" value="{{destinazione}}"/>
                        {% for elem in lista %}
                            <div class="checkbox-holder">
                                <input type="checkbox" id="cCB{{ loop.index }}" name="opzioneDinamica" value="{{elem.nome_tipologia}}">
                                <label for="cCB{{ loop.index }}">{{elem.nome_tipologia}}</label> 
                            </div> 
                        {% endfor %} 
                        
                    

                        <button type="submit">Avanti</button>
                    </form>
                </div> 
                
                  
            </div>
        </div>
    </div>
    
</body>


</html>