<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Web/static/css/decisi.css"> <!--con server ONLINE questo href non serve-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/decisi.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap" rel="stylesheet">
    <title>Scegli Attività</title>
</head>
<body>
    
    <nav class="dash">
        <div class="logo-icon">
            <a href="/"><img src="/static/images/planet-icon.png"  alt=""></a>
        </div>
        <div class="login-icon">
            <a href="/profilo"><img src="/static/images/user-icon.png" alt=""></a>
        </div>
    </nav>

    <div class="main">
        <div class="left">
            MAPPA
        </div>
        <div class="right">
            <div class="right-content">
                <h1>Attività da fare a <span>{{destinazione}}</span></h1>
                <p>Seleziona le attività desiderate</p>

                    <!-- {% for elem in lista %}
                    <p>{{elem.nome_attivita}} , {{elem.difficolta}}  ,  {{elem.descrizione_attivita}} </p>
                    <p>{{elem}}</p>
                    {% endfor %} -->

                



                <div class="wrapper">
                    <form action="/Sommario" method="POST">
                        <input type="hidden" name="destinazione" value="{{destinazione}}"/>
                        {% for elem in lista.keys() %}
                        <div class="collapsible">
                            <input type="checkbox" class="tohide"id="collapsible-head{{ loop.index }}">
                            <label for="collapsible-head{{ loop.index }}">{{elem}}</label>
                            <div class="collapsible-text">
                                {% for act in lista[elem] %}
                                <h2 id="collapsible-h2{{ loop.index }}">{{act.nome_attivita}}</h2>
                                <h3 id="collapsible-h3{{ loop.index }}">difficoltà: {{act.difficolta}}</h3>
                                <p id="collapsible-p{{ loop.index }}">{{act.descrizione_attivita}}</p>
                                <input type="checkbox" id="collapsible-checkbox{{ loop.index }}" name="opzioneDinamica" value="{{act.nome_attivita}}">
                                {%  endfor %} 
                            </div>
                        </div>
                        {% endfor %}
                        <button>Avanti</button>
                    </form>
                    
                </div>

                
                
                  
            </div>
        </div>
    </div>
    
</body>
</html>