body{
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.dash{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #176B87 solid;
    background-color: rgb(196, 221, 244);  
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;;
    z-index: 1000; /* Assicura che sia sopra gli altri contenuti */
}


.logo-icon{
    margin-left: 20px;
    margin-bottom: -5px;
   
}

.login-icon{
    margin-right: 20px;
    margin-bottom: -5px;
    
}


.main{
    width: 95%;
    margin: auto;
    padding-top: 100px;
}

.left{
    width: 50%;
    height: 620px;
    position: fixed;
    background-color: aquamarine; /*da togliere*/
}

.right{
    width: 50%;
    
    position:relative;
    left: 50%;
    background-color: darkseagreen; /* da togliere*/
    display: flex;
    justify-content: center;
}

.right-content{
    width: 80%; 
}

span{
    text-transform: uppercase;
    color: #176B87;
}

.customCheckBoxHolder {
    margin: 5px;
    display: flex;
  }
  
  .customCheckBox {
    width: fit-content;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
    padding: 2px 8px;
    background-color: rgba(0, 0, 0, 0.16);
    border-radius: 0px;
    color: rgba(255, 255, 255, 0.7);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: color, background-color, box-shadow;
    display: flex;
    height: 32px;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px 1px 1px 0px;
    outline: none;
    justify-content: center;
    min-width: 55px;
  }
  
  .customCheckBox:hover {
    background-color: #2c2c2c;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  }
  
  .customCheckBox .inner {
    font-size: 18px;
    font-weight: 900;
    pointer-events: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 300ms;
    transition-property: transform;
    transform: translateY(0px);
  }
  
  .customCheckBox:hover .inner {
    transform: translateY(-2px);
  }
  
  /* Multiple Checkboxes can be chained together for a radio input */
  .customCheckBoxWrapper:first-of-type .customCheckBox {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-right: 0px;
  }
  
  .customCheckBoxWrapper:last-of-type .customCheckBox {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-left: 0px;
  }
  
  .customCheckBoxInput {
    display: none;
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox {
    background-color: #2d6737;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.23) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.17) 0px 2px 4px 1px;
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox .inner {
    transform: translateY(-2px);
  }
  
  .customCheckBoxInput:checked + .customCheckBoxWrapper .customCheckBox:hover {
    background-color: #34723f;
    box-shadow: rgba(0, 0, 0, 0.26) 0px -4px 1px 0px inset, rgba(255, 255, 255, 0.17) 0px -1px 1px 0px, rgba(0, 0, 0, 0.15) 0px 3px 6px 2px;
  }
  
  .customCheckBoxWrapper .customCheckBox:hover .inner {
    transform: translateY(-2px);
  }