.main{
padding-top: 35px;
width: 90%;
margin: auto;
display: flex;
justify-content: space-between;
margin-top: 60px;
}

.left{
  width:44%;
  height: 80%;
  position: fixed;
  border-radius: .7rem;
}
  
#map{
  border-radius: .7rem;
  border: #112a34 solid 5px;
  width: 100%;
  height: 100%;
}

.right{
position: relative;
left: 55%;
width: 40%;
}

.right-content{
padding-top: 20px;
width: 80%;
margin: auto;
}

span{
text-transform: uppercase;
color: #176B87;
}

.checkbox-container{
  width: 100%;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: -20px;
  cursor: pointer;
  font-size: 1.5rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-holder{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}

.check{
  width: 30px; 
  height: 30px;
  cursor: pointer;
}

.check1{
  width: 30px; 
  height: 30px; 
  cursor: pointer;
  /* position: relative;
  left: 93%; */
}

.divisore{
  display: inline-flex;
  flex-direction: row;
}

.divisore p{
  width: 90%;
  padding-bottom: 30px;
}


button {
background-color: #eee;
border: none;
padding: 1rem;
font-size: 1rem;
border-radius: 1rem;
color: #3b9ca6;
box-shadow: 0 0.4rem #dfd9d9;
cursor: pointer;
float: right;
}

button:active {
color: white;
box-shadow: 0 0.2rem #dfd9d9;
transform: translateY(0.2rem);
}

button:hover:not(:disabled) {
background: #3b9ca6;
color: white;
text-shadow: 0 0.1rem #bcb4b4;
}

button:disabled {
cursor: auto;
color: grey;
}

.wrapper{
  width: 100%;
  padding-top: 50px;
  justify-content: center;
  margin: auto;
  padding-bottom: 250px; 
} 

/*----------------------------*/
.collapsible{
    display: inline-block;
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    
  }
  
  .tohide{
    display: none;
  }
  
  .collapsible label{
    position: relative;
    font-weight: 600;
    background: #dfd9d9;
    color:#176B87;
    display:block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px;
    z-index: 1;
    /* border-top-left-radius:10px ;
    border-top-right-radius: 10px; */
    border-radius: .7rem;
    text-align: center;
  }
  
  .collapsible label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    transition: all 0.3s ease;
  }
  
  .collapsible label::before{
    display: none;
  }
  
  .collapsible-text{
    overflow: hidden;
    border-radius: 4px;
    position: relative;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    /* top: -100%;
    opacity: 0.5;
    transition: all 0.3s ease; */
  
  
  }
  .collapsible input:checked ~ .collapsible-text{
    max-height: 500px;
    padding-bottom: 25px;
    background: #fff;
    /* box-shadow: 0 5px 11px 0 #fff, 0 4px 11px 0 aqua; */
    opacity: 1;
    /* top: 0; */
  }
  
  .collapsible-text h2{
    margin-bottom: 0;
    padding: 0 15px;
    color: #176B87;
  }
  
  .collapsible-text h3{
    margin-top: 0;
    padding: 0 15px;
    color:#bcb4b4;
    font-weight: 500;
  }
  
  .collapsible-text p{
    padding-left: 15px;
    padding-right: 15px;
  }

  .summary{
    /* margin-top: 50px; */
    width: 100%;
    padding-top: 50px;
    justify-content: center;
    margin: auto;
    padding-bottom: 250px;
    
  }

  .activity{
    margin-bottom: 50px;
  }

  .crea{
    width: 100%;
    overflow: hidden;
    font-weight: 500;
    text-align: right;
    margin-top: 100px;
  }
  
  
  .tohide{
    display: none;
  }
  
  .crea label{
    width:fit-content;
    font-weight: 600;
    background: #dfd9d9;
    color:#176B87;
    display:inline-block;
    cursor: pointer;
    padding: 15px;
    z-index: 1;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    
  }
  
  .crea label:after{
    content: "";
    position: absolute;
    right: 15px;
    top: 15px;
    width: 18px;
    transition: all 0.3s ease;
  }
  
  .crea label::before{
    display: none;
  }
  
  
  .crea-text{
    /* justify-content: right;
    display: flex; */
    overflow: hidden;
  
    display: flex;
    justify-content: space-between;  
    align-items: center;
    padding: 13px;
    position: relative;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
  }
  .crea input:checked ~ .crea-text{
    max-height: 500px;
    /* padding-bottom: 25px; */
    background: white;
    border-top: #176B87 solid;
    /* border-top-left-radius: 8px; */
    opacity: 1;
  }
  
  .newIt-wrapper input {
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 16em;
    border-radius: 1rem;
    color:#3b9ca6;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
  }
  
  .newIt-wrapper input:focus {
    outline-color:#3b9ca6;
  }
  
  .add{
    width: 3.5rem;
  }


/*profilo-----------------*/
.main-profilo{
  width: 90%;
  margin: auto;
  display: block;
  padding-top: 97px;
}

.container-profilo{
    width: 90%;
    margin: auto;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;

}

.img-profilo{
    height: 350px;
    border-radius: 0.7rem;
}

.dati-profilo{
    width: 100%;
    margin-left: 50px;
    margin-bottom: 10px;
    
}

h1, h2{
    margin-bottom: 0;
    margin-top: 0;
}

.modifica{
    float: right;
}

.container-itinerari{
    margin-top: 50px;
}

.container-itinerari>h2{
    padding-left: 15px;
}

.main-card{
    margin-top: 5px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    border-top: #176B87 solid;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.elemlist{
    width: 25%;
    margin: auto;
    display: inline-block;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* background: #a21111;
    box-shadow:  5px 5px 9px #8a0e0e,
                -5px -5px 9px #ba1414; */
    border: #02636e solid 2px;
    border-radius: .7rem;
    }

.card-body>img{
    height: 200px;
}

.card-body{
    margin-top: 30px;
}

.card.title{
    display: flex;
    width:fit-content;
}

.fa.fa-trash-o{
  position: relative;
  left: 25%;
}

.modifica, .logout{
  text-align: center;
  display: flex;
  align-items: center;
  gap: .5rem;
  color: var(--white-color);
  padding: .3rem 1rem;
  border-radius: 2rem;
  background: #02636e;
}

.modifica:active, .logout:active {
  color: white;
  transform: translateY(0.2rem);
 }

 .modifica:hover:not(:disabled), .logout:hover:not(:disabled){
  background: rgb(39, 167, 115);
  color: white;
  text-shadow: 0 0.1rem #bcb4b4;
 }
 
.modifica:disabled, .logout:disabled {
  cursor: auto;
  color: grey;
 }

 .logout, .modifica{
  margin: 5px 10px;
 }


 /* custom scroll-bar */
::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar-track{
  display: none;
}

::-webkit-scrollbar-thumb{
  display: none;
}