nav{
    width: 100%;
    height: 67px;
    /* background: linear-gradient(rgb(255,255,255,0.2), rgb(255,255,255,.2)); */
    background: #112a34;
    backdrop-filter: blur(1px);
    border-radius: .7rem; /*se non voglio cornice img principale devo togliere questa riga */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem; 
    z-index: 10;
    
}

nav .logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav .logo .bar {
    font-size: 1.35rem;
    color: var(--white-color);
    cursor: pointer;
    display: none;
}

nav .logo .bar:hover{
    color: var(--green-color);
}

nav .logo h3 {
    color: var(--white-color);
    font-weight: 400;
} 

nav .menu .close{
    display: none;
}

nav .menu ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}

nav .menu ul li a{
    color: var(--white-color);
    font-weight: 400;
}

nav .menu ul li a:hover{
    color: rgb(255 255 255/55%);
}

nav .signup-login{
    display: flex;
    align-items: center;
    gap: .5rem;
}

nav .signup-login a{
    color: var(--white-color);
    padding: .3rem 1rem;
    border-radius: 2rem;
}

nav .signup-login a:last-child{
    background: #02636e;
    padding: .3rem 1rem;
    border-radius: 2rem;
}

nav .signup-login a:hover{
    color: rgb(255 255 255/55%);
}

nav .signup-login a:last-child:hover{
    color: var(--white-color);
    background: var(--green-color)
}

/* modifiche per idee.html */
.main-title{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.main-card{
    margin: auto;
    text-align: center;
    padding-bottom: 150px;
}

.elemlist{
    width: 25%;
    margin: auto;
    display: inline-block;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body>img{
    height: 200px;
}

/* custom scroll-bar */
::-webkit-scrollbar{
    width: 15px;
  }
  
  ::-webkit-scrollbar-track{
    background: #176B87;
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(red,yellow);
  }