/* modifiche per idee.html */
.main-title{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.main-card{
    margin: auto;
    text-align: center;
    padding-bottom: 150px;
}

.elemlist{
    width: 25%;
    margin: auto;
    display: inline-block;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body>img{
    height: 200px;
}



/* custom scroll-bar */
::-webkit-scrollbar{
    /* width: 15px; */
    display: none;
  }
  
  ::-webkit-scrollbar-track{
    /* background: #176B87; */
    display: none;
  }
  
  ::-webkit-scrollbar-thumb{
    /* background: linear-gradient(red,yellow); */
    display: none;
  }