/* responsive other */
@media (max-width: 1020px) {
    html {
        font-size: 85%;
    }
    section{
        padding: 0 2rem;
    }
}

@media (max-width: 910px) {
    .home .home-box nav{
        padding: 0 1rem;
    }
    .home .home-box nav .menu ul{
        gap: 2rem;
    }
    .destinations .container .container-box{
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 884px) {
    /*idee*/
    .main-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elemlist{
        width: 80%;
    }
    

    /*profilo*/
    .main-profilo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .container-profilo, .container-itinerari{
        width: 80%;
    }

    .container-itinerari{
        padding-top: 30px;
    }

    .container-profilo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dati-profilo{
        width: 80%;
        margin: auto;
    }
}




@media (max-width: 767px) {
    .heading{
        font-size: 2rem;
    }


    nav .menu{
        display: none;
    }
    nav .logo .bar{
        display: block;
    }
    nav .menu.active{
        display: block;
        position: absolute;
        left: -1.5rem;
        top: -1.5rem;
        width:100vw;
        height: 100vh;
        background: rgb(0 0 0/90%);
        display: flex;
        align-items: center;
        padding: 0 3rem;
    }
    nav .menu .close{
        display: block;
        position: absolute;
        left: 3rem;
        top: 3rem;
        color: var(--white-color);
        font-size: 2rem;
        cursor: pointer;
    }
    nav .menu .close:hover{
        color: rgb(255 255 255/40%);        
    }
    nav .menu ul{
        flex-direction: column;
        font-size: 2rem;
        gap: 1rem;
    }
    nav .menu ul:hover li a{
        color: rgb(255 255 255/40%); 
    }
    nav .menu ul li a:hover{
        color: var(--white-color);
    }
    .content{
        padding: 2rem;
    }
    .travel .container{
        flex-direction: column;
        padding: 4rem 0;
        padding-top: 1.2rem;
        gap: 4rem;
    }

    /*idee*/
    .main-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .elemlist{
        width: 80%;
    }
    
    /*profilo*/
    .main-profilo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }

    .container-profilo, .container-itinerari{
        width: 80%;
    }

    .container-itinerari{
        padding-top: 30px;
    }

    .container-profilo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .dati-profilo{
        width: 80%;
        margin: auto;
    }

}

@media (max-width: 607px) {
    .home .home-box .content h1{
        font-size: 3rem;  
    }
    .home .home-box .content p{
        font-size: 1.2rem;
    }
}

@media (max-width: 530px) {
    .dati-profilo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .log-mod{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .container-itinerari{
        padding-top: 30px;
    }
}
