body{
    background-color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 100px;
}

.dash{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #176B87 solid;
    background-color: rgb(196, 221, 244);  
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 0;;
    z-index: 1000; /* Assicura che sia sopra gli altri contenuti */
}


.logo-icon{
    margin-left: 20px;
    margin-bottom: -5px;
   
}

.login-icon{
    margin-right: 20px;
    margin-bottom: -5px;
    
}

.main{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.card{
    width: 50%;
}

form{
    text-align: right;
    padding-right: 50px;
    padding-top: 200px;
}

input{
    height: 40px;
    border-radius: 5px;
    padding: 0px 20px ;
}

#Nitin{
    height: 45px;
    background-color:#86B6F6 ;
    color: white;
    border: #176B87 solid;
}

.card.right{
    padding: 135px 50px;
    /*border-left: #176B87 solid;*/
}


.img-idee{
    height: 200px;
    margin-right: 20px;
    border-radius: 15px;
}

.idee{
    display: flex;
    height: 30%;
    margin-bottom: 20px;
    align-items: center;
    
}

.card.title{
    display: flex;
    width:fit-content;
}

.card-desc{
    display: block;
}
  
/* modifiche per idee.html */
.main-title{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
}

.main-card{
    margin: auto;
    text-align: center;
    padding-bottom: 150px;
}

.elemlist{
    width: 25%;
    margin: auto;
    display: inline-block;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card-body>img{
    height: 200px;
}